In [1]:
import numpy as np
import pandas as pd
import Cleanup

In [2]:
# define the function to be called later
cleanup = Cleanup.clean() #calling out the function 'Cleanup'

In [3]:
df = pd.read_csv("EMD_Reconstructed(i80 0400-0415).csv") #read csv file

In [4]:
df

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
0,1,12,884,1113433136100,16.884,52.747821,6042842.116,2133117.662,14.3,6.4,2,6.947704,2.188888,2,0,0,0.00,0.00
1,1,13,884,1113433136200,16.938,53.454997,6042842.012,2133118.909,14.3,6.4,2,7.195818,3.152102,2,0,0,0.00,0.00
2,1,14,884,1113433136300,16.991,54.190893,6042841.908,2133120.155,14.3,6.4,2,7.522104,3.871618,2,0,0,0.00,0.00
3,1,15,884,1113433136400,17.045,54.961816,6042841.805,2133121.402,14.3,6.4,2,7.896343,4.184370,2,0,0,0.00,0.00
4,1,16,884,1113433136500,17.098,55.771003,6042841.701,2133122.649,14.3,6.4,2,8.287402,3.906572,2,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2911,8588,731,1113433993700,53.693,1514.996798,6042674.086,2134581.846,14.9,5.9,2,19.391081,-9.073670,5,2910,2915,78.19,2.50
1048571,2911,8589,731,1113433993800,53.719,1516.884525,6042673.608,2134584.936,14.9,5.9,2,18.363451,-8.832242,5,2910,2915,78.26,2.50
1048572,2911,8590,731,1113433993900,53.746,1518.676752,6042673.131,2134588.025,14.9,5.9,2,17.481083,-8.036357,5,2910,2915,78.41,2.51
1048573,2911,8591,731,1113433994000,53.772,1520.386896,6042672.653,2134591.115,14.9,5.9,2,16.721810,-6.478995,5,2910,2915,78.61,2.51
1048574,2911,8592,731,1113433994100,53.799,1522.030435,6042672.176,2134594.204,14.9,5.9,2,16.148955,-4.678999,5,2910,2915,78.81,2.57

In [5]:
df = cleanup.filter_non_zero_values(df) # to remove or filter out any rows that contain non-zero values

In [6]:
df

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
469,1,481,884,1113433183000,17.280,568.096538,6042778.483,2133634.247,14.3,6.4,2,22.489895,-1.268826,2,3355,11,27.73,1.21
470,1,482,884,1113433183100,17.286,570.339191,6042778.197,2133636.562,14.3,6.4,2,22.363148,-1.306286,2,3355,11,28.27,1.26
471,1,483,884,1113433183200,17.291,572.568939,6042777.928,2133638.743,14.3,6.4,2,22.231830,-1.361708,2,3355,11,28.90,1.33
472,1,484,884,1113433183300,17.297,574.785277,6042777.668,2133640.849,14.3,6.4,2,22.094923,-1.442212,2,3355,11,29.64,1.42
473,1,485,884,1113433183400,17.301,576.987631,6042777.419,2133642.862,14.3,6.4,2,21.952162,-1.503987,2,3355,11,30.44,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2911,8588,731,1113433993700,53.693,1514.996798,6042674.086,2134581.846,14.9,5.9,2,19.391081,-9.073670,5,2910,2915,78.19,2.50
1048571,2911,8589,731,1113433993800,53.719,1516.884525,6042673.608,2134584.936,14.9,5.9,2,18.363451,-8.832242,5,2910,2915,78.26,2.50
1048572,2911,8590,731,1113433993900,53.746,1518.676752,6042673.131,2134588.025,14.9,5.9,2,17.481083,-8.036357,5,2910,2915,78.41,2.51
1048573,2911,8591,731,1113433994000,53.772,1520.386896,6042672.653,2134591.115,14.9,5.9,2,16.721810,-6.478995,5,2910,2915,78.61,2.51
1048574,2911,8592,731,1113433994100,53.799,1522.030435,6042672.176,2134594.204,14.9,5.9,2,16.148955,-4.678999,5,2910,2915,78.81,2.57

In [7]:
df = cleanup.filter_by_desired_lanes(df) #keep only the rows in the DataFrame that correspond to the specified lane(s)

In [8]:
df

,Vehicle_ID,Frame_ID,Total_Frames,Global_Time,Local_X,Local_Y,Global_X,Global_Y,v_Length,v_Width,v_Class,v_Vel,v_Acc,Lane_ID,Preceding,Following,Space_Headway,Time_Headway
469,1,481,884,1113433183000,17.280,568.096538,6042778.483,2133634.247,14.3,6.4,2,22.489895,-1.268826,2,3355,11,27.73,1.21
470,1,482,884,1113433183100,17.286,570.339191,6042778.197,2133636.562,14.3,6.4,2,22.363148,-1.306286,2,3355,11,28.27,1.26
471,1,483,884,1113433183200,17.291,572.568939,6042777.928,2133638.743,14.3,6.4,2,22.231830,-1.361708,2,3355,11,28.90,1.33
472,1,484,884,1113433183300,17.297,574.785277,6042777.668,2133640.849,14.3,6.4,2,22.094923,-1.442212,2,3355,11,29.64,1.42
473,1,485,884,1113433183400,17.301,576.987631,6042777.419,2133642.862,14.3,6.4,2,21.952162,-1.503987,2,3355,11,30.44,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1046170,2907,8620,658,1113433996900,28.274,1599.689506,6042636.507,2134655.221,14.3,6.4,2,25.696248,-6.579646,3,2897,2913,34.12,1.36
1046171,2907,8621,658,1113433997000,28.291,1602.226109,6042636.127,2134657.692,14.3,6.4,2,25.035828,-6.825173,3,2897,2913,33.28,1.33
1046172,2907,8622,658,1113433997100,28.308,1604.695619,6042635.748,2134660.163,14.3,6.4,2,24.354361,-7.006852,3,2897,2913,32.98,1.33
1046173,2907,8623,658,1113433997200,28.325,1607.095967,6042635.368,2134662.634,14.3,6.4,2,23.652596,-7.237176,3,2897,2913,32.99,1.34
1046174,2907,8624,658,1113433997300,28.342,1609.425165,6042634.989,2134665.105,14.3,6.4,2,22.931363,-7.404409,3,2897,2913,32.96,1.25

In [9]:
df_filtered = cleanup.remove_lane_change(df) #remove or filter out rows from the original DataFrame

In [10]:
l = ['Vehicle_ID', 'Frame_ID', 'Total_Frames', 'v_Class', 'Lane_ID', 'Preceding', 'Following']
for col in l:
    df_filtered[col] = df_filtered[col].astype(int) #converts all the values to integers

### Adding two new column i80 and location

In [11]:
num_rows = df_filtered.shape[0]
df_filtered["Location"] = ['i80']*num_rows #populates all rows in that column with the value 'i80 on all rows
df_filtered["Period"] = ['4:00PM - 4:15PM']*num_rows #populates all rows in that column with the value '4:00PM - 4:15PM' on all rows

In [12]:
df_filtered.to_csv("Clean_4_415.csv") #saves the dataset into csv file named "Clean_4_415"